*{
	/* Resetting the default styles of the page */
	margin:0;
	padding:0;
}

body {
	/* Setting default text color, background and a font stack */
	font-size:0.825em;
	color:#666;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}

#replay, #start {
	cursor: pointer;
}

#topbar {
	z-index:9998;
	margin-top:0;
	background-color: #eee;
	border:solid 1px #ddd;
	height:13vmin;
}

#stopwatch, #replay, #start, #game_title {
	text-shadow: 0px 0px 50px rgba(150, 150, 150, 1);
	z-index: 9999;
	width:100%;
	font-weight:bold;
    font-size: 6vmin;
	background:none;
	text-align: center;
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	text-shadow:0 1px 1x white;
}

#stopwatch, #replay {
	position:absolute;
    top: 3vmin;
    left: 0;
}

#start, #game_title {
	/*width:100%;*/
	/*background:green;*/
	position:absolute;
}

#game_title {
	font-size: 20vmin;
}

#start_wrapper {
	width: 100%;
	/*background-color: red;*/
	position: absolute;
	top: 0;
	left: 0;
}

.sponsorListHolder img {
	max-width: 100%;
	min-height: 100%;
}

.sponsorListHolder {
	text-align: center;
	padding-top:10vmin;
}

.sponsor{
	width:30vmin;
	height:30vmin;
	float:center;
	margin:4px;
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	display:inline-block;
	cursor:pointer;
}

.sponsorFlip{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */
	position:absolute;
	left:0;
	top:0;
	padding:0;
	width:100%;
	height:100%;
	border:1px solid #ddd;	
	background:url("img/ICE-high_res.png") no-repeat center center white;
	background-size: 70%;
	-moz-box-shadow:0 0 15px #eee;
	-webkit-box-shadow:0 0 15px #eee;
	box-shadow:0 0 15px #eee;
}

.sponsorFlip:hover{
	border:1px solid #aaa;
	-moz-box-shadow:0 0 15px #ccc;
	-webkit-box-shadow:0 0 15px #ccc;
	box-shadow:0 0 15px #ccc;
}

.sponsorData{
	/* Hiding the .sponsorData div */
	display:none;
}

.clear{
	/* This class clears the floats */
	clear:both;
}


/* The styles below are only necessary for the styling of the demo page: */

#main{
	text-align: center;
	position:relative;     	
	margin:0 auto;
	/*background-color: red;*/
}

h1{
	padding:30px 0;
	text-align:center;
	text-shadow:0 1px 1px white;
	margin-bottom:30px;
	background:url("img/page_bg.gif") repeat-x bottom #f8f8f8;
}

h1,h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}

h2{
	font-size:14px;
	font-weight:normal;
	text-align:center;
	position:absolute;
	right:40px;
	top:40px;
}

.note{
	font-size:12px;
	font-style:italic;
	/*padding-bottom:20px;*/
	text-align:center;
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}